@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#animation{
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 300px;
	height: 250px;
	background-color: #091f40;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #091f3f;
	box-sizing: border-box;
}

#bg_start{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 250px;
	background: url(images/bg_start.jpg) no-repeat;
}

#bg_endframe{
	position: absolute;
	left: 0px;
	opacity: 0;
	top: 0px;
	width: 300px;
	height: 250px;
	background: url(images/bg_endframe.jpg) no-repeat;
}

#tagline{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 250px;
	background: url(images/tagline.png) no-repeat;
}

#plane{
	position: absolute;
	left: 0px;
	top: 117px;
	width: 278px;
	height: 90px;
	background: url(images/plane.png) no-repeat;
}

#snow{
	position: absolute;
	left: 0px;
	top: 51px;
	width: 300px;
	height: 400px;
	background: url(images/snow.png) no-repeat;
}

#mask2{
	position: absolute;
	left: 115px;
	top: 192px;
	width: 177px;
	height: 50px;
	overflow: hidden;
}

#tunein{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 177px;
	height: 50px;
	background: url(images/tunein.png) no-repeat;
}

#logo_large{
	position: absolute;
	left: 53px;
	top: 22px;
	width: 193px;
	height: 212px;
	background: url(images/logo_large.png) no-repeat;
}

#logo{
	position: absolute;
	left: 8px;
	top: 17px;
	width: 127px;
	height: 139px;
	background: url(images/logo.png) no-repeat;
}


