@charset "UTF-8";
/* CSS Document*/

body{
	background-color:#333;
	margin:0;
}

#animation {
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 160px;
	height: 600px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.bg {
		position: absolute;
		left: -25px;
		top: 0px;	
		width: 160px;
		height: 600px;
	}

/* FRAME 1 */



	#tagline1 {
		position: absolute;
		left: 12px;
		top: 256px;	
		width: 136px;
		height: 89px;
		background-image: url(images/tagline1.png);
	}




/* END FRAME */
	


	#image {
		position: absolute;
		right: 0px;
		bottom: 0px;	
		width: 160px;
		height: 600px;
		background-image: url(images/image.png);
	}

    #tag {
		position: absolute;
		left: 12px;
		top: 176px;	
		width: 136px;
		height: 89px;
		background-image: url(images/tag.png);
	}

	#logo_nbc {
		position: absolute;
		left: 19px;
		top: 280px;	
		width: 53px;
		height: 32px;
		background-image: url(images/logo_nbc.png);
	}

	#logo_nbcsn {
		position: absolute;
		left: 85px;
		top: 279px;	
		width: 56px;
		height: 42px;
		background-image: url(images/logo_nbcsn.png);
	}

/*	#logo_cnbc {
		position: absolute;
		left: 40px;
		top: 311px;	
		width: 35px;
		height: 27px;
		background-image: url(images/logo_cnbc.png);
	}

	#logo_usa {
		position: absolute;
		left: 87px;
		top: 317px;	
		width: 34px;
		height: 16px;
		background-image: url(images/logo_usa.png);
	}*/

    #cta {
		position: absolute;
		left: 0px;
		top: 576px;	
		width: 160px;
		height: 24px;
		background-image: url(images/cta.png);
	}

	#scp {
		position: absolute;
		left: 24px;
		top: 28px;	
		width: 113px;
		height: 128px;
		background-image: url(images/scp.png);
	}