@charset "UTF-8";
/* CSS Document*/

body{
	background-color:#333;
	margin:0;
}

#animation {
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 728px;
	height: 90px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.bg {
		position: absolute;
		left: -25px;
		top: 0px;	
		width: 728px;
		height: 90px;
	}

	#tagline1 {
		position: absolute;
		left: 19px;
		top: 25px;	
		width: 690px;
		height: 40px;
		background-image: url(images/tagline1.png);
	}


/* END FRAME */
	


	#image {
		position: absolute;
		right: 0px;
		bottom: 0px;	
		width: 728px;
		height: 90px;
		background-image: url(images/image.png);
	}

    #tag {
		position: absolute;
		left: 309px;
		top: 10px;	
		width: 379px;
		height: 22px;
		background-image: url(images/tag.png);
	}

	#logo_nbc {
		position: absolute;
		left: 380px;
		top: 47px;	
		width: 56px;
		height: 34px;
		background-image: url(images/logo_nbc.png);
	}

	#logo_nbcsn {
		position: absolute;
		left: 448px;
		top: 48px;	
		width: 169px;
		height: 36px;
		background-image: url(images/logo_nbcsn.png);
	}

/*	#logo_cnbc {
		position: absolute;
		left: 512px;
		top: 43px;	
		width: 54px;
		height: 40px;
		background-image: url(images/logo_cnbc.png);
	}

	#logo_usa {
		position: absolute;
		left: 585px;
		top: 52px;	
		width: 49px;
		height: 22px;
		background-image: url(images/logo_usa.png);
	}*/

    #cta {
		position: absolute;
		left: 703px;
		top: 0px;	
		width: 24px;
		height: 89px;
		background-image: url(images/cta.png);
	}

	#scp {
		position: absolute;
		left: 163px;
		top: 15px;	
		width: 126px;
		height: 62px;
		background-image: url(images/scp.png);
	}