@charset "UTF-8";
/* CSS Document*/

body{
	background-color:#333;
	margin:0;
}

#animation {
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 728px;
	height: 90px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.bg {
		position: absolute;
		left: -25px;
		top: 0px;	
		width: 728px;
		height: 90px;
	}

	#tagline1 {
		position: absolute;
		left: 19px;
		top: 25px;	
		width: 690px;
		height: 40px;
		background-image: url(images/tagline1.png);
	}


/* END FRAME */
	


	#image {
		position: absolute;
		right: 0px;
		bottom: 0px;	
		width: 728px;
		height: 90px;
		background-image: url(images/image.png);
	}

    /*#teams {
		position: absolute;
		left: 385px;
		top: 11px;	
		width: 274px;
		height: 26px;
		background-image: url(images/teams.png);
	}*/

	#tunein {
		position: absolute;
		left: 395px;
		top: 12px;	
		width: 276px;
		height: 73px;
		background-image: url(images/tunein_day.png);
	}

	#scp {
		position: absolute;
		left: 210px;
		top: 18px;	
		width: 153px;
		height: 55px;
		background-image: url(images/scp.png);
	}